In [23]:
#lib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [24]:
doc =  '../Data/CG_BTC_hour_open-interestl.csv'
name = 'CG_BTC_hour_open-interestl.csv'
csv = pd.read_csv(doc)
csv

,Unnamed: 0,oi_volume_usd,oi_high,oi_open,time,start_time,oi_low,oi_close,datetime
0,0,3.975996e+08,46758.0,46676.1,1.704935e+12,1.704935e+12,46467.5,46506.7,2024-01-11 01:00:00
1,1,1.961209e+08,46635.0,46506.7,1.704938e+12,1.704938e+12,46494.4,46567.4,2024-01-11 02:00:00
2,2,5.473459e+08,46599.7,46567.4,1.704942e+12,1.704942e+12,46146.5,46502.4,2024-01-11 03:00:00
3,3,2.540919e+08,46511.4,46502.3,1.704946e+12,1.704946e+12,46296.4,46404.9,2024-01-11 04:00:00
4,4,5.666755e+08,46427.8,46405.0,1.704949e+12,1.704949e+12,45890.1,46073.9,2024-01-11 05:00:00
...,...,...,...,...,...,...,...,...,...
13195,13195,3.218284e+08,119333.0,118922.9,1.752437e+12,1.752437e+12,118771.2,119028.7,2025-07-13 20:00:00
13196,13196,4.640433e+08,119028.8,119028.7,1.752440e+12,1.752440e+12,118411.8,118593.1,2025-07-13 21:00:00
13197,13197,5.384067e+08,118734.5,118593.0,1.752444e+12,1.752444e+12,118197.7,118462.5,2025-07-13 22:00:00
13198,13198,4.865793e+08,119166.0,118462.4,1.752448e+12,1.752448e+12,118324.6,119038.3,2025-07-13 23:00:00
13199,13199,5.859809e+08,119450.0,119038.3,1.752451e+12,1.752451e+12,118871.6,119030.6,2025-07-14 00:00:00

In [19]:
#timestamp to datetime 
csv['datetime'] = pd.to_datetime(csv['start_time'],unit = "ms") # coinglass
# csv['datetime'] = pd.to_datetime(csv['Open time']) # binance

if f'Unnamed: 0' in csv.columns:
   csv.drop(columns= 'Unnamed: 0',inplace= True)

csv

,volume_usd,high,open,time,start_time,low,close,datetime
0,3.975996e+08,46758.0,46676.1,1.704935e+12,1.704935e+12,46467.5,46506.7,2024-01-11 01:00:00
1,1.961209e+08,46635.0,46506.7,1.704938e+12,1.704938e+12,46494.4,46567.4,2024-01-11 02:00:00
2,5.473459e+08,46599.7,46567.4,1.704942e+12,1.704942e+12,46146.5,46502.4,2024-01-11 03:00:00
3,2.540919e+08,46511.4,46502.3,1.704946e+12,1.704946e+12,46296.4,46404.9,2024-01-11 04:00:00
4,5.666755e+08,46427.8,46405.0,1.704949e+12,1.704949e+12,45890.1,46073.9,2024-01-11 05:00:00
...,...,...,...,...,...,...,...,...
13195,3.218284e+08,119333.0,118922.9,1.752437e+12,1.752437e+12,118771.2,119028.7,2025-07-13 20:00:00
13196,4.640433e+08,119028.8,119028.7,1.752440e+12,1.752440e+12,118411.8,118593.1,2025-07-13 21:00:00
13197,5.384067e+08,118734.5,118593.0,1.752444e+12,1.752444e+12,118197.7,118462.5,2025-07-13 22:00:00
13198,4.865793e+08,119166.0,118462.4,1.752448e+12,1.752448e+12,118324.6,119038.3,2025-07-13 23:00:00
13199,5.859809e+08,119450.0,119038.3,1.752451e+12,1.752451e+12,118871.6,119030.6,2025-07-14 00:00:00

In [20]:
min_date = csv['datetime'].min()
max_date = csv['datetime'].max()
full_range = pd.date_range(start=min_date, end=max_date, freq='1H') #1H , 1D 1min
csv.set_index('datetime')
csv.reindex(full_range)
csv.to_csv(doc)

C:\Users\cheeh\AppData\Local\Temp\ipykernel_20832\3636340832.py:3: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_range = pd.date_range(start=min_date, end=max_date, freq='1H') #1H , 1D 1min

In [21]:

full_range = pd.date_range(start=min_date, end=max_date, freq='1min') #1H , 1D
csv.set_index('Date')
csv.reindex(full_range)
csv.index.name = 'Date'
csv

KeyError: "None of ['Date'] are in the columns"

In [22]:
missing = csv.isnull().sum()
print(f'missing_places{missing}')

missing_placesvolume_usd    0
high          0
open          0
time          0
start_time    0
low           0
close         0
datetime      0
dtype: int64