In [1]:
#lib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
doc =  '../../Binance_BTCUSDT_perpetual_1H_OHL.csv'
name = 'Binance_BTCUSDT_perpetual_1H_OHL.csv'
output =  '../../Binance_BTCUSDT_perpetual_1H_takerbuysellvolume.csv'

csv = pd.read_csv(doc)
csv

,Unnamed: 0.1,Unnamed: 0,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,Taker Buy Base Asset Volume,Taker Buy Quote Asset Volume,Ignore,Date
0,0,0,1589155200000,8723.23,8800.00,8693.43,8768.49,17529.754,1589158799999,1.535424e+08,53035,9277.857,8.128331e+07,0,2020-05-11 00:00:00
1,1,1,1589158800000,8768.50,8773.39,8681.36,8711.01,10957.718,1589162399999,9.559278e+07,33898,5298.337,4.622740e+07,0,2020-05-11 01:00:00
2,2,2,1589162400000,8710.69,8760.00,8692.03,8746.48,7752.624,1589165999999,6.769631e+07,22557,4132.840,3.609777e+07,0,2020-05-11 02:00:00
3,3,3,1589166000000,8746.49,8768.72,8656.19,8696.89,14005.621,1589169599999,1.219227e+08,37579,6709.274,5.842430e+07,0,2020-05-11 03:00:00
4,4,4,1589169600000,8695.32,8709.00,8616.66,8633.38,16773.586,1589173199999,1.454486e+08,42475,8190.822,7.104024e+07,0,2020-05-11 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40436,40436,40436,1734724800000,97079.60,97186.60,96394.30,96426.60,8492.328,1734728399999,8.221870e+08,193122,4045.375,3.916679e+08,0,2024-12-20 20:00:00
40437,40437,40437,1734728400000,96426.60,96626.60,95393.80,96602.60,12880.450,1734731999999,1.237219e+09,248655,6336.008,6.086979e+08,0,2024-12-20 21:00:00
40438,40438,40438,1734732000000,96602.70,97481.00,96427.00,97419.90,5147.836,1734735599999,4.994213e+08,123864,2755.280,2.673029e+08,0,2024-12-20 22:00:00
40439,40439,40439,1734735600000,97419.90,97777.00,97329.90,97764.40,5083.471,1734739199999,4.960296e+08,126594,2390.245,2.332639e+08,0,2024-12-20 23:00:00
40440,40440,40440,1734739200000,97764.50,97773.10,97176.30,97488.30,6191.499,1734742799999,6.032878e+08,126307,2739.233,2.669193e+08,0,2024-12-21 00:00:00

In [15]:
df = pd.DataFrame( )
df['Date'] = csv['Date']
df['Volume'] = np.multiply(csv['Close'],csv['Volume'])
df['Close']  = csv['Close']
df['taker_buy_vol'] = csv['Taker Buy Quote Asset Volume']
df['taker_sell_vol'] = np.subtract(df['Volume'] , csv['Taker Buy Quote Asset Volume'])
df['taker_sel_buy_ratio'] =df['taker_buy_vol']/df['taker_sell_vol']
df.to_csv(output)