In [17]:
import pandas as pd
import numpy as np

In [18]:
df1 = pd.read_csv('../../CryptoQuant_BTC_Hour_Binance_BTCUSDT_OpenInterest.csv')
df2 = pd.read_csv('../../CG_BTC_H_All_openInterest.csv')

out = 'Binance_Merge_Open_Interest.csv'
 
df1
#df2

,Unnamed: 0,start_time,datetime,end_time,open_interest
0,0,1589155200000,2020-05-11 00:00:00,1589158799000,2.223290e+08
1,1,1589158800000,2020-05-11 01:00:00,1589162399000,2.210446e+08
2,2,1589162400000,2020-05-11 02:00:00,1589165999000,2.239010e+08
3,3,1589166000000,2020-05-11 03:00:00,1589169599000,2.192216e+08
4,4,1589169600000,2020-05-11 04:00:00,1589173199000,2.184345e+08
...,...,...,...,...,...
35060,35060,1715371200000,2024-05-10 20:00:00,1715374799000,4.381309e+09
35061,35061,1715374800000,2024-05-10 21:00:00,1715378399000,4.362508e+09
35062,35062,1715378400000,2024-05-10 22:00:00,1715381999000,4.361337e+09
35063,35063,1715382000000,2024-05-10 23:00:00,1715385599000,4.362019e+09
35064,35064,1715385600000,2024-05-11 00:00:00,1715389199000,4.349603e+09

In [19]:
#merge same data with diff date
df1_unique = df1[~df1['datetime'].isin(df2['datetime'])]


df1_unique

,Unnamed: 0,start_time,datetime,end_time,open_interest
0,0,1589155200000,2020-05-11 00:00:00,1589158799000,2.223290e+08
1,1,1589158800000,2020-05-11 01:00:00,1589162399000,2.210446e+08
2,2,1589162400000,2020-05-11 02:00:00,1589165999000,2.239010e+08
3,3,1589166000000,2020-05-11 03:00:00,1589169599000,2.192216e+08
4,4,1589169600000,2020-05-11 04:00:00,1589173199000,2.184345e+08
...,...,...,...,...,...
23171,23171,1672570800000,2023-01-01 11:00:00,1672574399000,1.794054e+09
23172,23172,1672574400000,2023-01-01 12:00:00,1672577999000,1.797346e+09
23173,23173,1672578000000,2023-01-01 13:00:00,1672581599000,1.799885e+09
23174,23174,1672581600000,2023-01-01 14:00:00,1672585199000,1.799984e+09
23175,23175,1672585200000,2023-01-01 15:00:00,1672588799000,1.801054e+09

In [20]:
combined_df = pd.concat([df1_unique, df2], ignore_index=True)


combined_df = combined_df.sort_values(by='datetime').reset_index(drop=True)

print(combined_df)

combined_df.to_csv(out)

       Unnamed: 0     start_time             datetime       end_time  \
0               0  1589155200000  2020-05-11 00:00:00  1589158799000
1               1  1589158800000  2020-05-11 01:00:00  1589162399000
2               2  1589162400000  2020-05-11 02:00:00  1589165999000
3               3  1589166000000  2020-05-11 03:00:00  1589169599000
4               4  1589169600000  2020-05-11 04:00:00  1589173199000
...           ...            ...                  ...            ...
40435       17259  1734721200000  2024-12-20 19:00:00  1734724799000
40436       17260  1734724800000  2024-12-20 20:00:00  1734728399000
40437       17261  1734728400000  2024-12-20 21:00:00  1734731999000
40438       17262  1734732000000  2024-12-20 22:00:00  1734735599000
40439       17263  1734735600000  2024-12-20 23:00:00  1734739199000

       open_interest           low          open          high
0       2.223290e+08           NaN           NaN           NaN
1       2.210446e+08           NaN           NaN           NaN
2       2.239010e+08           NaN           NaN           NaN
3       2.192216e+08           NaN           NaN           NaN
4       2.184345e+08           NaN           NaN           NaN
...              ...           ...           ...           ...
40435   6.221086e+10  6.220178e+10  6.227676e+10  6.260141e+10
40436   6.181387e+10  6.181387e+10  6.221086e+10  6.226064e+10
40437   6.151873e+10  6.091726e+10  6.181387e+10  6.182199e+10
40438   6.208223e+10  6.147905e+10  6.151873e+10  6.209337e+10
40439   6.228996e+10  6.206001e+10  6.208223e+10  6.229503e+10

[40440 rows x 8 columns]